* {
               margin: 0;
               padding: 0;
               box-sizing: border-box;             
}
body {
               height: 100vh;
               display: flex;
               justify-content: center;
               align-items: center;
               background: radial-gradient(circle at center, #0a0f24, #000);
               color: white;
               perspective: 900px;
}

.cube {
               position: relative;
               width: 180px;
               height: 180px;
               transform-style: preserve-3d;
               animation: rotate 5s linear infinite;
}
.face {
               position: absolute;
               width: 180px;
               height: 180px;
               display: flex;
               justify-content: center;
               align-items: center;
               font-size: 20px;
               font-weight: bold;
               backface-visibility: hidden;
}
.face img {
               width: 100%;
               height: 100%;
               object-fit: cover;
}

.front {
               transform: translateZ(90px);
}

.back {
               transform: rotateY(180deg) translateZ(90px);
}

.right {
               transform: rotateY(90deg) translateZ(90px);
}

.left {
               transform: rotateY(-90deg) translateZ(90px);
}

.top {
               transform: rotateX(90deg) translateZ(90px);
}

.bottom {
               transform: rotateX(-90deg) translateZ(90px);
}

@keyframes rotate {
               0% {
                              transform: rotateX(-20deg) rotateY(0deg);
               }

               50% {
                              transform: rotateX(-20deg) rotateY(180deg);
               }

               100% {
                              transform: rotateX(-20deg) rotateY(360deg);
               }
}